@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --footer-height: 95px;
    --header-height: 64px;
}

body {
    padding-top: var(--header-height);
}

.prevent-scroll {
    overflow: hidden;
}
